spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/whatsapp_clone
    username: aman
    password: 123456

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    database: POSTGRESQL
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: false

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/whatsapp-clone

  servlet:
    multipart:
      max-file-size: 50MB

application:
  file:
    upload:
      media-output-path: ${user.home}/tmp
